html {
}

body {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), linear-gradient(221deg, rgba(71, 224, 160, 0.9), rgba(0, 167, 97, 0.9), rgba(0, 151, 167, 0.9), rgba(0, 99, 167, 0.9), rgba(92, 0, 167, 0.9));
  background-size: 1000% 1000%;
  -webkit-animation: makerlog-2018 40s ease infinite;
  -moz-animation: makerlog-2018 40s ease infinite;
  animation: makerlog-2018 40s ease infinite;
  background-attachment: fixed;
  overflow: hidden;
  padding-bottom: 60px;
}

#main-hero {
  background-color: transparent;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@-webkit-keyframes makerlog-2018 {
  0%{background-position:82% 0%}
  50%{background-position:19% 100%}
  100%{background-position:82% 0%}
}
@-moz-keyframes makerlog-2018 {
  0%{background-position:82% 0%}
  50%{background-position:19% 100%}
  100%{background-position:82% 0%}
}
@keyframes makerlog-2018 {
  0%{background-position:82% 0%}
  50%{background-position:19% 100%}
  100%{background-position:82% 0%}
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;

}

#main-hero .logo {
  color: #47E0A0;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 700;
  margin-bottom: 5px;
}

#main-hero .main-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.card {
  border-radius:  8px;
  box-shadow: none;
}

@keyframes fadeIn {
  from { opacity: 0.6; }
}

.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.Entry {
  color: #4a4a4a;
  background-color: white;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px;
  word-wrap: break-word;
}

.Entry .fa {
  margin-right: 8px;
  font-size: 13px;
}

.Entry .done {
  background-color: #2ecc71;
}

.Entry.remaining {
  opacity: 0.8;
}

.Entry.in-progress {
  animation: fadeIn 1s infinite alternate;
}

.Entry.in-progress > svg {
  animation: pulse 2s infinite;
  box-shadow: 0 0 5px #F4A324;
  border-radius: 50%;
}

.Entry .emoji {
  margin-right: 6px;
  font-size: 13px;
}

.Praisable {
  user-select: none;
  display: inline;
}

.hidden {
  display: none !important;
}

.Entry .attachment {
  margin-top: 0px !important;
  max-width: 400px;
  border-radius: 5px;
}

.Entry .attachment > img {
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}

.Entry.launch {
  background-color: #00b894;
  color: white;
  font-weight: bold;
}

.Entry a {
  word-break: break-all;
}

.Entry .editing {
  background-color: transparent;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px;
}

.Entry input.editing {
  width: 90%;
  outline: none;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.icon > img {
  border-radius: 5px;
}

$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
  random($width)-$width / 2 + px
  random($height)-$height / 1.2 + px
  hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay ($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration ($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation ($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform ($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}

@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.card-footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(247, 247, 247);
  border-top: none;
  display: block;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding: 2rem;
}