@import '~bulma/sass/utilities/initial-variables.sass';

// Set your brand colors
$brand: #47E0A0;
$brandSecondary: #53AF87;

// Update Bulma's global variables
$primary: $brandSecondary;
$link: $brandSecondary;

@import '~bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');
@import url('https://fonts.googleapis.com/css?family=Poppins:700');

@import './app.scss';